<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cities</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h2>List of cities</h2>

        <table>
            <tr>
                <th>Id</th>
                <th>Hours</th>
                <th>Charges</th>
            </tr>
            
            <tr th:each="charge : ${charges}">
                <td th:text="${charge.id}">Id</td>
                <td th:text="${charge.hours}">Hours</td>
                <td th:text="${charge.charges}">Charges</td>
            </tr>
        </table>

    </body>
</html>